{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <p>
        Si votre email est valide , un email de réinitialisation de mot de passe a été envoyé pour vous.
        Ce lien expire dans: {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Vérifier votre spam si l'email n'est pas arrivé ou <a href="{{ path('app_forgot_password_request') }}">Essayer encore</a>.</p>
{% endblock %}
